@use "./partial/fonts";
@use "./partial/header";
@use "./partial/zeroing";
@use "./partial/overlay";
body {
  background-color: #e0a3a9;
  padding: 100px;
  display: flex;
  justify-content: center;
  .content {
    border-radius: 11px;
    padding: 18px;
    background-color: #d38e95;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    font-family: "Comic Sans MS";
    .title {
      background-color: #ffbcc2;
      border-radius: 19px;
      padding: 10px 90px;
      font-size: 40px;
    }
    .articles-con {
      box-sizing: border-box;
      background-color: #ffbcc2;
      border-radius: 19px;
      padding: 35px;
      font-size: 40px;
      width: 100%;
      gap: 18px;
      .article {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        padding: 12px 30px;
        background-color: #ffb06b;
        border-radius: 12px;
        margin-bottom: 18px;
        .article-title {
        }
        .side-article-con {
          display: flex;
          gap: 55px;
          justify-content: space-around;
          .date {
          }
          .action-text {
            display: none;
            color: #00000080;
            font-family: "Comic Sans MS";
            font-size: 20px;
          }
        }
      }
    }
  }
}
