@use "./partial/fonts";
* {
    margin: 0;
}
body {
  margin: 0;
  background-color: #e0a3a9;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Comic Sans MS";
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    .welcome-title {
      font-size: 100px;
      color: #dde97f;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    a {
        display: block;
        text-decoration: none;
        width: 513px;
        box-sizing: border-box;
        background-color: #8ADE7A;
        color: white;
        font-size: 50px;
        padding: 35px;
        text-align: center;
        border: none;
        border-radius: 50px;
        font-family: "JetBrains Mono";
    }
  }
}
