@font-face {
  font-family: 'Comic Sans MS'; 
  src: url('/src/Comic\ Sans\ MS.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');