header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #b2545d;
  display: flex;
  background-color: #ef737f;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  .header-title {
    font-size: 25px;
    color: #dde97f;
    font-weight: 600;
  }
  .current-status {
    font-size: 18px;
    color: #dde97f80;
  }
  button {
    box-sizing: border-box;
    background-color: #8ade7a;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 50px;
    font-family: "JetBrains Mono";
  }
  .header-menu {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
